.scene {
  position: relative;
}

.scene-content {
  display: inline-block;
  position: relative;
  perspective: 1000px;
  perspective-origin: center center;
  -webkit-transform-style: preserve-3d;
}

.scene-content .actions {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
  z-index: 9999;
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  width: 100%;
  text-align: center;
}

.scene-content .actions > * {
  display: inline-block;
}

.scene-content:hover .actions {
  opacity: 1;
  visibility: visible;
}
